.main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-md-6{
    padding: 50px;
    margin: 0 auto;
    display: flex;
        align-items: center;
    justify-content: center;

}